<div class="row">
  <h1 class="col-12"><%= @welcome %></h1>
</div>
<% @articles.each do |cat, c_articles| %>
  <div class="row category-articles">
    <h2 class="col-12"><%= cat.to_s.gsub(/[-_]/, ' ').titleize %></h2>
    <% c_articles.each do |a| %>
      <div class="col article-preview">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= a.title %></h3>
            <p class="card-body">
              <%= a.content_summary(length: 75) %>
            </p>
            <%= link_to "Read", article_path(a), class: 'card-link' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
