<header class="container-fluid">
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item nav__home">
        <%= link_to "Home", root_path, class: "nav-link #{@homepage}" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item nav__login nav__login--signed-in">
          <%= link_to "Sign Out", destroy_user_session_path, class: 'nav-link', method: :delete %>
        </li>
      <% else %>
        <li class="nav-item nav__login">
          <%= link_to "Log In", new_user_session_path, class: "nav-link #{@loginpage}" %>
        </li>
      <% end %>
      <li class="nav-item nav__articles">
        <%= link_to "Articles", articles_path, class: "nav-link #{@articlespage}" %>
      </li>

      <% # Article CrUD %>
      <% if @editor_access %>
        <li class="nav-item nav__home">
          <%= link_to "New Article", new_article_path, class: "nav-link #{@newarticlepage}" %>
        </li>
      <% end %>

      <%#<% # User CRUD %>
      <%#<% if @admin_access %>
      <%#  <li class="nav-item nav__users">
      <%#    <%= link_to "Users", admin_users_path, class: "nav-link #{@userspage}" %>
      <%#  </li>
      <%#  <li class="nav-item nav__users">
      <%#    <%= link_to "New User", admin_new_user_path, class: "nav-link #{@userpage}" %>
      <%#  </li>
      <%#<% end %>
    </ul>
  </nav>

  <div class="container alerts">
    <% flash.each do |type, msg| %>
      <% if ['notice', 'info', 'success'].include?(type) %>
        <div class="alert alert-info" role="alert">
      <%# elsif type == "alert" %>
      <% else %>
        <div class="alert alert-danger" role="alert">
      <% end %>
      <%= msg %>
    <% end %>
  </div>
</header>
